* {
    /* border: blue 1px solid; */
}

h2 {
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Cormorant Garamond', sans-serif;
}

p {
    font-weight: 400;
    font-size: 1em;
    font-family: Montserrat;
    margin: 0 10px;
    line-height: 1.5em;
}

.container {
    display: grid;
    position: relative;
    margin: auto;    
    grid-template: 250px 400px 600px 600px 150px / repeat(8, 1fr);
  }

.fill {
    grid-column: 1 / span 1;
    grid-row: 1 / span 5;
    background-image: linear-gradient(to left, rgba(128,128,128, 0), rgba(128,128,128,1));
}

.fill1 {
    grid-column: 8 / span 1;
    grid-row: 1 / span 5;
    background-image: linear-gradient(to right, rgba(128,128,128, 0), rgba(128,128,128,1));
}

header {
    grid-column: 3 / span 4;
    text-align: center;
}

header h1 {
    margin: 5% 0;
    font-family: 'Space Mono', monospace;
    font-size: 2.5rem;
}

.nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: center;
}

.nav_item {
    margin: 0 10px;
}

.nav_links {
    color: #666;
    padding: 5px 50px;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    transition: .3s;
    position: relative;
}

.nav_links:before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 50%;
    height: 2px;
    background: #000;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav_links:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 50%;
    height: 2px;
    background: #000;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav_links:hover {
    color: olivedrab;
}

.nav_links:hover:before {
    right: 0;
}

.nav_links:hover:after {
    left: 0;
}

.me {
    grid-column: 2 / span 2;
}

.me img {
    height: 60%;
    width: 70%;
    border-radius: 50%;
}

.about {
    grid-column: 4 / span 4;
    text-align: center;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
}

.about h2 {
    margin-bottom: 2%;
}

.h2tech {
    margin-top: 5%;
}

.techholder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech {
    height: 20%;
    width: 20%;
    /* border: 10px solid blue; */
}

.tech img {
    height: 60%;
    width: 60%;
}

.flex {
    grid-column: 2 / span 6;
    text-align: center;
    margin: 1% 0;
}

.holder {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.holder p {
    overflow: hidden;
}

.box {
    height: 250px;
    width: 300px;
    text-align: center;
}

.box a {
    text-decoration: none;
    font-family: Montserrat;
    margin-bottom: 5%;
    color: rgba(128,128,128,1);
}

.box p {
    color: black;
}

.box img {
    height: 80%;
    width: 100%;
    border: 1px solid black;
}
.contact {
    grid-column: 3 / span 4;
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contactcontainer {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-group{
    width: 100%;
    /* margin-top: 20px; */
    font-size: 20px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128,128,128,0.1);
    margin-top: 5px;
}

textarea {
    resize: none;
}

button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    color: rgb(27,166,247);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease background-color;
}

button[type="submit"]:hover {
    background-color: rgb(214,226,236);
}

#status {
    width: 90%;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.success {
    background-color: rgb(211,250,153);
    animation: status 4s ease forwards;
}

#status.error {
    background-color: rgb(250,129,92);
    color: white;
    animation: status 4s ease forwards;
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}

footer {
    grid-row: 5 / span 1;
    grid-column: 3 / span 4;
    text-align: center;
    padding-top: 4%;
}

.icons img {
    height: 3em;
    width: 3em;
}

@media only screen and (max-width: 425px) {
    .container {
        display: grid;
        position: relative;
        margin: auto;    
        grid-template: 200px 400px 1200px 400px 150px / repeat(8, 1fr);
      }

    header {
        align-items: center;
    }
    
    header h1 {
        font-size: 2em;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    .nav {
        flex-direction: column;
    }

    .nav_item {
        margin: 0 0;
    }

    .nav_links {
        padding: 1% 5%;
        text-transform: none;
        font-size: 1em;
    }

    .me {
        border-bottom: 1px solid black;
    }

    .me img {
        height: 25%;
        width: 100%;  
    }

    .about {
      font-size: small;  
    }

    .holder {
        flex-direction: column;
        justify-content: start;
    }

    .box {
        height: 10%;
        width: 100%;
        padding-bottom: 5%;
    }

    .contact {
        grid-column: 2 / span 6;
        padding-top: 20%;
    }

    .contactcontainer {
        width: 100%;
        padding: 0;
    }

    .icons img {
        height: 1em;
        width: 1em;
    }
}
@media only screen and (max-width: 425px) and (orientation: landscape) {
    .container {
        display: grid;
        position: relative;
        margin: auto;    
        grid-template: 200px 400px 1200px 400px 150px / repeat(8, 1fr);
      }

    header {
        align-items: center;
    }
    
    header h1 {
        font-size: 2em;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    .nav {
        flex-direction: column;
    }

    .nav_item {
        margin: 0 0;
    }

    .nav_links {
        padding: 1% 5%;
        text-transform: none;
        font-size: 1em;
    }

    .me {
        border-bottom: 1px solid black;
    }

    .me img {
        height: 25%;
        width: 100%;  
    }

    .about {
      font-size: small;  
    }

    .holder {
        flex-direction: column;
        justify-content: start;
    }

    .box {
        height: 10%;
        width: 100%;
        padding-bottom: 5%;
    }

    .contact {
        grid-column: 2 / span 6;
        padding-top: 20%;
    }

    .contactcontainer {
        width: 100%;
        padding: 0;
    }

    .icons img {
        height: 1em;
        width: 1em;
    }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
    .container {
        display: grid;
        position: relative;
        margin: auto;    
        grid-template: 300px 350px 1550px 400px 150px / repeat(8, 1fr);
      }

    .nav_item {
        margin: 0 0;
    }

    .nav_links {
        padding: 1% 5%;
        text-transform: none;
        font-size: 1.5em;
    }

    .me {
        border-bottom: 1px solid black;
    }

    .me img {
        height: 50%;
        width: 100%;  
    }
    .about {
        font-size: small;  
    }

    .holder {
        flex-direction: column;
        justify-content: space-between;
    }

    .box {
        height: 10%;
        width: 100%;
        padding-bottom: 5%;
    }

    .icons img {
        height: 1.5em;
        width: 1.5em;
    }
}