body {
    background-color: whitesmoke;
}

.mainhome {
    background-image: url("../Images/haircutblonde.jpg");
    background-size: 100%;
    padding: 10% 50px;
    background-position: center;
}


.mainhome h1 {
    size: 50px;
    border: 2px solid black;
    color: white;
    background-color: black;
    text-align: center;
    margin-left: 25%;
    opacity: 0.6;    
    width: 35%;
}

.logo {
    height: 200px;
    width: 200px;
    cursor: pointer;
    opacity: 0.8;
}

* {
    margin: 0;
    padding: 0;;
}

.nav__links li, a {
    font-family: Arial, Helvetica;
    font-weight: 500;
    font-size: 16px;
    color: #eee;
    text-decoration: none;
}

header {
    fill-opacity: 0.4;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;/* 30 pixels from the top and then 10% from the sides*/
    background-color: #24252a;
}

footer ul li:nth-child(1) {
    padding: 0 0 0 0;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color:green;
}

section {
    margin-left: 3%;

}

.services {
    margin-top: 3%;
    margin-bottom: 5%;
}

.services h2 {
    margin-top: 1%;
}

.services li {
    list-style: square;
}

footer {
    margin-top: 5%;
}