            /* header */

header {
    background-image: url(../Media/Loki_multiverse.png);
    border: 1px solid black;
    text-align: center;
    background-size: 100% 100%;
    border-radius: 25%;
}

header h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 90px;
    color: hsla(355, 37%, 42%, 1);
}

header h2 {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    /* border: solid; */
    color: hsla(355, 37%, 42%, 1);
}

            /* about */
            
.about {
    text-align: center;
}

.about h3 {
    margin-top: 1%;
}

            /* button */

#main {
    margin-top: 2%;
    text-align: center;
}

button {
    margin-top: 1%;
}

.sentence {
    padding: 2%;
    color: blue;
}
            /* pictures */

#divider {
    border: 2px solid black;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 50;
}

.size{
    /* border: 2px solid black; */
    position:absolute;
    height: 30rem;
    width: 30rem;
}

.playerdiv {
    left: 15%;
}

.leaguediv {
    left: 60%;
}

.size img {
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
}
