            /* header */

header {
    background-image: url(../Media/Loki_multiverse.png);
    border: 1px solid black;
    text-align: center;
    border-radius: 25%;
}

header h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 90px;
    color: rgb(255, 255, 255);
}

header h2 {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    padding-bottom: 1%;
    color: rgb(255, 255, 255);
}

            /* about */
            
.about {
    text-align: center;
    padding: 1% 0;
}

            /* button */

#main {
    margin-top: 2%;
    text-align: center;
}

button {
    background-image: url(./try-again.png);
    background-size: cover;
    background-position: 0 50%;
    height: 50px;
    width: 190px;
    border: none;
    border-radius: 9999px;
}

button:hover  {
    cursor: pointer;
}

.sentence {
    padding: 2%;
    color: blue;
}
            /* pictures */

#divider {
    border: 2px solid black;
    height: 20rem;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 50;
}

.holder{
    position: absolute;
    height: 20rem;
    left: 25%;
    width: 60rem;
    margin-left: -3px;
}

.size{
    width: 30%;
    height: 100%;
}

.playerdiv {
    float: left;
}

.leaguediv {
    float: right;
}

.size img {
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
}
